<!--<h3>Welcome to Digital Clue!</h3>-->

<!--<div>
  <a href="/lobby">
    <button>New game</button>
  </a>
</div>-->
<div class="homepage-container">

<h1>Welcome to Digital Clue!</h1>

  <div class="new-game">
    <a href="/lobby">
      <button class="new-game-button">Start a New Game</button>
    </a>
  </div>

  <div class="how-to-play">
    <h4>How to Play</h4>
    <ul>
      <li>Move about the board to make guesses, uncover clues, and discover the murder weapon, suspect, and room. There's only 1 of each!</li>
      <li>Use pen and paper to track your clues in the guess log — if a clue is revealed by your opponent (or held by you), it can't be part of the murder mystery — rule it out!</li>
      <li>You can only include a ROOM in your guess if you are inside that specific room. Make sure to navigate across the board before you make a guess. This rule does not apply to weapons or suspects.</li>
    </ul>
  </div>

</div>
