
<hr>

<form action="/new_game" method="post">
  <div>
    <label for="password_box">
      Character Select
    </label>

    <input type="text" id="password_box" name="query_password">
  </div>

  <div>
    <label for="password_box">
      Game Password
    </label>

    <input type="text" id="password_box" name="query_password">
  </div>

  <div>
  <a href="/launch">
      <button>Launch game</button>
  </a>
</div>
  
<hr>

<h3>Create a Game</h3>

<hr>

